<div class="action-item" id="action-{{ action.id }}">
    <!-- This input id gets posted when items are dragged & dropped -->
    <input type='hidden' name='item' value="{{ action.id }}" />
    <span class="drag-handle">☰</span>
    <div class="action-content" hx-get="/action/edit/{{ action.id }}" hx-target="#action-{{ action.id }}"
        hx-swap="innerHTML" style="cursor: pointer">
        {{ action.description }}
    </div>
    <div class="action-controls">
        <button class="btn btn-delete" hx-delete="/action/{{ action.id }}" hx-target="#action-{{ action.id }}"
            hx-swap="outerHTML">
            Remove
        </button>
    </div>
</div>