<!-- templates/call.html -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Call #{{ call.id }} Actions</h1>

    <!-- https://htmx.org/examples/sortable/ -->
    <!-- has to be a form! -->
    <form id="actions-list" class="sortable" hx-post="/call/{{ call.id }}/reorder" hx-trigger="end">
    {% include "action_list.html" %}
    </form>        

    <div class="add-action-form">
        <form hx-post="/action/add/{{ call.id }}" hx-target="#actions-list" hx-swap="beforeend">
            <input type="text" name="description" placeholder="New action description" required>
            <button class="btn btn-add" type="submit">Add Action</button>
        </form>
    </div>
</div>
{% endblock %}